# Copy to .env and fill values. Do NOT commit real credentials.
PORT=5001
MONGODB_URI=mongodb+srv://<db_user>:<db_pass>@cluster.mongodb.net/mqtt-devices
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
MQTT_BROKER_URL=mqtt://185.217.131.96:1883
MQTT_USERNAME=tr12345678
MQTT_PASSWORD=tr12345678
NODE_ENV=development
